<div id="bottom_bar">
  <h1>Why our hotel?</h1>
    * we got plenty to offer <br>
    * free sky bar at the top of the hotel<br>
    * children will be looked after by our animators <br>
    * relax relax relax<br>
    * everything is near: theater, cinema, go-cart track (15% less if you are our guest!)<br>
</div>
